name: CI

on:
  pull_request:
    paths_ignore: ['**/**.md', '**/.github/workflows/ci.yml']

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                emacs-version:
                    - 27.2
                    # snapshot has additional checks don't work on earlier versions,
                    # see TODO in tests.el
                    - snapshot

        steps:
            - uses: actions/checkout@v3

            - uses: jcs090218/setup-emacs@master
              with:
                  version: ${{ matrix.emacs-version }}

            - uses: ashutoshvarma/setup-ninja@master

            - name: Run tests
              run: ninja tests
